.nav {
    color: skyblue;
    font: bold 12px;
    text-align: center;
    display: inline;
    list-style: none;
}

.nav li {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: lightpink;
}


p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    text-align: center;

}

h1 {
    text-align: center;
    font-size: 26px;
}

.photo {
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    display: block;
    position: center;
    overflow: hidden;
    padding: 1px;

}

.photo img {
    max-width: 100%;
    width: 612px;
    height: 377px;
}

.rsvp form {
    font-size: 15px;
    margin: 4% auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px
}

.rsvp li{
    list-style: none;
}

.rsvp input[type="text"] {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: black;
    padding: 2px;
    border: 2px solid navy;
    border-radius: 4px;
    box-shadow: inset 0px 2px 9px 0px rgba(0,0,0,.5);
    margin: 5px 1em;
    width: 100%;
}